body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  background-color: var(--bg-main);
  color: var(--text-color);
}

a {
  color: var(--blue);
}

#app {}

#nav {
  padding: 30px;

  a {
    opacity: .8;
    font-weight: bold;

    &.router-link-exact-active {
      opacity: 1;
    }
  }
}

.niai-icon {
  fill: currentColor;
  width: 25px;
}
