// Main bg used in light themes
$ct-bg-main-light: #F1F1F1 !default;

// Main bg used in dark themes
$ct-bg-main-dark: #36393F !default;

$ct-bg-light: rgba(0, 0, 0, 0.05) !default;
$ct-bg-dark: rgba(255, 255, 255, 0.05) !default;
$ct-bg-focus-light: rgba(0, 0, 0, 0.1) !default;
$ct-bg-focus-dark: rgba(255, 255, 255, 0.1) !default;
