@use 'sass:color';
@use 'sass:map';
@use 'sass:meta';
@use 'colors';
@use 'fgs';
@use 'swatches';
@use 'themes';

// These will be used to obtain the values programmatically.
:root {
  --ct-theme-css-names: #{themes.$theme-css-names};

  @include themes.themes-loop {
    --ct-swatch-names: #{map.get(themes.$theme, 'swatch-names')};
    --ct-fg-swatch-names: #{map.get(themes.$theme, 'fg-swatch-names')};
    --ct-color-names: #{map.get(themes.$theme, 'color-names')};
    --ct-semantic-color-names: #{map.get(themes.$theme, 'semantic-color-names')};

    --ct-#{themes.$theme-css-name}-props-category: #{themes.$category};
    --ct-#{themes.$theme-css-name}-props-name: #{themes.$theme-name};
    --ct-#{themes.$theme-css-name}-props-css-name: #{themes.$theme-css-name};
    --ct-#{themes.$theme-css-name}-props-brightness: #{themes.$brightness};
  }
}

@include themes.themes-apply {
  $bg-main: map.get(themes.$theme, 'bg-main');
  $swatches: map.get(themes.$theme, 'swatches');
  $fg-target: map.get(themes.$theme, 'fg-target');
  $fg-swatches: map.get(themes.$theme, 'fg-swatches');
  $bd: map.get(themes.$theme, 'bd');
  $bd-focus: map.get(themes.$theme, 'bd-focus');

  $color-names: map.get(themes.$theme, 'color-names');
  $semantic-color-names: map.get(themes.$theme, 'semantic-color-names');
  $color-names-all: map.get(themes.$theme, 'color-names-all');
  $swatch-names: map.get(themes.$theme, 'swatch-names');

  $font: map.get(themes.$theme, 'font');
  $text-color: map.get(themes.$theme, 'text-color');

  $mixture-pure: if(themes.$brightness=='light', white, black);
  $mixture-pure-reverse: if(themes.$brightness=='light', black, white);

  // Obtain fg-0 color. Mix it with a pure mixture (white/black) to obtain fg levels.
  // Mix all colors with fg-0 to obtain color levels.
  $fg-0-percentage: map.get($fg-swatches, 0);
  $fg-0: color.mix($fg-target, $mixture-pure, $fg-0-percentage);

  $mixture: $fg-0;

  @each $name in $color-names {
    $color: themes.theme-color-get(themes.$theme, $name);
    $resolved-mixture: if($name==$fg-target, $mixture-pure, $mixture);
    @each $swatch, $percent in $swatches {
      $result: null;
      @if ($percent <= 100) {
        $result: color.mix($color, $resolved-mixture, $percent);
      } @else {
        $result: color.mix($color, $mixture-pure-reverse, 200 - $percent);
      }
      @include colors.set-color-variable-with-rgb(--#{$name}-#{$swatch}, $result);
    }
    $color-text: if(themes.$brightness=='light', color.scale($color, $lightness: -40%), color.scale($color, $lightness: 50%));
    @include colors.set-color-variable-with-rgb(--#{$name}-text, $color-text);
  }

  @each $name in $semantic-color-names {
    $target: themes.theme-semantic-color-get(themes.$theme, $name);
    @each $swatch in $swatch-names {
      @include colors.set-semantic-color-variable-with-rgb($name, $swatch, $target);
    }
    @include colors.set-semantic-color-variable-with-rgb($name, 'text', $target);
  }

  // Fill in raw names as having the 500 swatch.
  @each $name in $color-names-all {
    --#{$name}: var(--#{$name}-500);
    @if (colors.$compute-rgb-variables) {
      --#{$name}-rgb: var(--#{$name}-500-rgb);
    }
  }

  @each $level, $percent in $fg-swatches {
    --fg-#{$level}: #{color.mix($fg-target, $mixture-pure, $percent)};
  }

  @include themes.text-color-variables($text-color);

  --bg-main: #{$bg-main};

  @include themes.bg-variables(themes.$brightness);
  @include themes.bd-variables(themes.$brightness);

  --font: #{meta.inspect($font)};

  // ---

  color: var(--text-color);
}
