// Main bg used in light themes.
$bg-main-light: #f1f1f1 !default;

// Main bg used in dark themes.
$bg-main-dark: #121212 !default;

// Inputs are things like text inputs, selects, and any kind of input like component (except for buttons).

// Input bg used in light themes.
$bg-input-light: #fff;

// Input bg used in dark themes.
$bg-input-dark: #101316;

$bg-light: rgba(0, 0, 0, 0.05) !default;
$bg-dark: rgba(255, 255, 255, 0.05) !default;
$bg-focus-light: rgba(0, 0, 0, 0.1) !default;
$bg-focus-dark: rgba(255, 255, 255, 0.1) !default;
