@use "sass:list";
@use "sass:map";
// Colors are the backbone of a theme. A set of color maps are specified for each brightness mode.

// Colors used in light themes
$colors-light: (
  'grey': #697C93,
  'brown': #96663C,
  'yellow': #F6D300,
  'gold': #CC9A0E,
  'orange': #F48701,
  'red-orange': #FD6A01,
  'red': #FF1D25,
  'pink': #FF39F6,
  'purple': #952FF7,
  'violet': #C600FF,
  'indigo': #5700FF,
  'blue': #448AFF,
  'sky-blue': #00B9FF,
  'lemon-green': #ADD80F,
  'green-blue': #0CCB9B,
  'green': #22D35D,
) !default;

// Colors used in dark themes
$colors-dark: (
  'grey': #697C93,
  'brown': #96663C,
  'yellow': #F8DC33,
  'gold': #CC9A0E,
  'orange': #F69F34,
  'red-orange': #FC5603,
  'red': #FF3948,
  'pink': #FF61F8,
  'purple': #D835FF,
  'violet': #AA59F9,
  'indigo': #7933FF,
  'blue': #69A1FF,
  'sky-blue': #33C7FF,
  'lemon-green': #ADD80F,
  'green-blue': #3DD5AF,
  'green': #4EDC7D,
) !default;

// Semantic colors to be used for semantic color references instead of a hard coded color
$semantic-colors: (
  'primary': 'purple',
  'success': 'green',
  'info': 'blue',
  'warning': 'orange',
  'danger': 'red',
) !default;

// Main text color used in light themes
$text-color-light: 56, 63, 73 !default;

// Main text color used in dark themes
$text-color-dark: 255, 255, 255 !default;

$color-names: map.keys($colors-light);
$semantic-color-names: map.keys($semantic-colors);

// Contains both color and semantic color names
$color-names-all: list.join($color-names, $semantic-color-names);
